/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.logo {
  max-width: 200px;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.bio,
.social,
.contact {
  margin-bottom: 20px;
}

.bio {
  text-align: center; /* Add this line to center the title */
}

h1,
h2,
p {
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
}

li {
  margin-bottom: 5px;
}

a {
  text-decoration: none;
  color: #007bff;
}

a:hover {
  text-decoration: underline;
}

footer {
  display: flex;
  justify-content: center;
  padding: 20px;
}

/* Add this new class for centering the title */
.title-centered {
  text-align: center;
}

#webgl-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* This makes sure the particles are rendered behind the content */
}

.bio,
.social,
.contact {
  margin-bottom: 20px;
  text-align: center; /* Add this line to center the text */
}